In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [3]:
df1

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p40,TimeFromFirstStop_p50,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City
0,1921357,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
1,1921358,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
2,1921359,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
3,1921360,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
4,1921361,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856382,2777739,1990,39.938232,-75.149930,South 4th Street,Catharine Street,S,W,17,1,...,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,75.5,Philadelphia
856383,2777740,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,18,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856384,2777741,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,19,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856385,2777742,1990,39.938232,-75.149930,Catharine Street,Catharine Street,W,W,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia
856386,2777743,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,23,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia

In [4]:
df2

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,Month,Path,City
0,0,1,33.750940,-84.393032,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,0,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
1,1,1,33.750940,-84.393032,Peachtree Street Southwest,Mitchell Street Southwest,SW,SE,0,0,6,Peachtree Street Southwest_SW_Mitchell Street ...,Atlanta
2,2,1,33.750940,-84.393032,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,0,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
3,3,1,33.750940,-84.393032,Peachtree Street Southwest,Peachtree Street Southwest,NE,NE,1,0,6,Peachtree Street Southwest_NE_Peachtree Street...,Atlanta
4,4,1,33.750940,-84.393032,Peachtree Street Southwest,Peachtree Street Southwest,SW,SW,1,0,6,Peachtree Street Southwest_SW_Peachtree Street...,Atlanta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921352,1921352,1990,39.938232,-75.149930,South 4th Street,Catharine Street,S,W,20,1,12,South 4th Street_S_Catharine Street_W,Philadelphia
1921353,1921353,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,20,1,12,South 4th Street_S_South 4th Street_S,Philadelphia
1921354,1921354,1990,39.938232,-75.149930,South 4th Street,Catharine Street,S,W,21,1,12,South 4th Street_S_Catharine Street_W,Philadelphia
1921355,1921355,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,21,1,12,South 4th Street_S_South 4th Street_S,Philadelphia
1921356,1921356,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,22,1,12,South 4th Street_S_South 4th Street_S,Philadelphia

In [5]:
address_encoding = {
    "Street": 0,
     "St": 0,
     "Avenue": 1,
     "Ave": 1,
     "Boulevard": 2,
     "Road": 3,
     "Drive": 4,
     "Lane": 5,
     "Tunnel": 6,
     "Highway": 7,
     "Way": 8,
     "Parkway": 9,
     "Parking": 10,
     "Oval": 11,
     "Square": 12,
     "Place": 13,
     "Bridge": 14
}

In [6]:
def encode(x):
    if pd.isna(x):
        return None
    for road in address_encoding:
        if (road in x):
            return address_encoding[road]
    return None

In [7]:
df1["EntryAdressEncoded"] = df1['EntryStreetName'].apply(encode)
df1['ExitAddressEncoded'] = df1['ExitStreetName'].apply(encode)
df2["EntryAdressEncoded"] = df2['EntryStreetName'].apply(encode)
df2['ExitAddressEncoded'] = df2['ExitStreetName'].apply(encode)

In [8]:
pd.set_option('display.max_rows', 200)

In [9]:
df1

,RowId,IntersectionId,Latitude,Longitude,EntryStreetName,ExitStreetName,EntryHeading,ExitHeading,Hour,Weekend,...,TimeFromFirstStop_p60,TimeFromFirstStop_p80,DistanceToFirstStop_p20,DistanceToFirstStop_p40,DistanceToFirstStop_p50,DistanceToFirstStop_p60,DistanceToFirstStop_p80,City,EntryAdressEncoded,ExitAddressEncoded
0,1921357,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta,2.0,2.0
1,1921358,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta,2.0,2.0
2,1921359,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta,2.0,2.0
3,1921360,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,SE,SE,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta,2.0,2.0
4,1921361,0,33.791659,-84.430032,Marietta Boulevard Northwest,Marietta Boulevard Northwest,NW,NW,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Atlanta,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856382,2777739,1990,39.938232,-75.149930,South 4th Street,Catharine Street,S,W,17,1,...,0.0,55.0,0.0,0.0,0.0,0.0,75.5,Philadelphia,0.0,0.0
856383,2777740,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,18,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia,0.0,0.0
856384,2777741,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,19,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia,0.0,0.0
856385,2777742,1990,39.938232,-75.149930,Catharine Street,Catharine Street,W,W,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia,0.0,0.0
856386,2777743,1990,39.938232,-75.149930,South 4th Street,South 4th Street,S,S,23,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Philadelphia,0.0,0.0

In [10]:
def adreskontrol(entry_address, exit_address):
    if (entry_address == exit_address):
        return True
    return False

In [11]:
df1['IfEntryExitSame'] = df1.apply(lambda x: adreskontrol(x.EntryStreetName, x.ExitStreetName), axis=1)
df2['IfEntryExitSame'] = df2.apply(lambda x: adreskontrol(x.EntryStreetName, x.ExitStreetName), axis=1)

In [12]:
directions = {
    'N': 0,
    'NE': 1/4,
    'E': 1/2,
    'SE': 3/4,
    'S': 1,
    'SW': 5/4,
    'W': 3/2,
    'NW': 7/4
}

In [13]:
df1['EntryHeading'] = df1['EntryHeading'].map(directions)
df1['ExitHeading'] = df1['ExitHeading'].map(directions)

df2['EntryHeading'] = df2['EntryHeading'].map(directions)
df2['ExitHeading'] = df2['ExitHeading'].map(directions)

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 856387 entries, 0 to 856386
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   RowId                    856387 non-null  int64
 1   IntersectionId           856387 non-null  int64
 2   Latitude                 856387 non-null  float64
 3   Longitude                856387 non-null  float64
 4   EntryStreetName          848239 non-null  object
 5   ExitStreetName           850100 non-null  object
 6   EntryHeading             856387 non-null  float64
 7   ExitHeading              856387 non-null  float64
 8   Hour                     856387 non-null  int64
 9   Weekend                  856387 non-null  int64
 10  Month                    856387 non-null  int64
 11  Path                     856387 non-null  object
 12  TotalTimeStopped_p20     856387 non-null  float64
 13  TotalTimeStopped_p40     856387 non-null  float64
 14  TotalTimeStopped_p50     856387 non-null  float64
 15  TotalTimeStopped_p60     856387 non-null  float64
 16  TotalTimeStopped_p80     856387 non-null  float64
 17  TimeFromFirstStop_p20    856387 non-null  float64
 18  TimeFromFirstStop_p40    856387 non-null  float64
 19  TimeFromFirstStop_p50    856387 non-null  float64
 20  TimeFromFirstStop_p60    856387 non-null  float64
 21  TimeFromFirstStop_p80    856387 non-null  float64
 22  DistanceToFirstStop_p20  856387 non-null  float64
 23  DistanceToFirstStop_p40  856387 non-null  float64
 24  DistanceToFirstStop_p50  856387 non-null  float64
 25  DistanceToFirstStop_p60  856387 non-null  float64
 26  DistanceToFirstStop_p80  856387 non-null  float64
 27  City                     856387 non-null  object
 28  EntryAdressEncoded       837981 non-null  float64
 29  ExitAddressEncoded       840500 non-null  float64
 30  IfEntryExitSame          856387 non-null  bool
dtypes: bool(1), float64(21), int64(5), object(4)
memory usage: 196.8+ MB

In [15]:
df1["Intersection"] = df1["IntersectionId"].astype(str) + df1["City"]
df2["Intersection"] = df2["IntersectionId"].astype(str) + df2["City"]
pd.concat([df1["Intersection"],df2["Intersection"]],axis=0).drop_duplicates().values

array(['0Atlanta', '1Atlanta', '2Atlanta', ..., '1985Philadelphia',
       '1986Philadelphia', '1987Philadelphia'], dtype=object)

In [16]:
le = preprocessing.LabelEncoder()

In [17]:
le.fit(pd.concat([df1["Intersection"],df2["Intersection"]]).drop_duplicates().values)
df1["Intersection"] = le.transform(df1["Intersection"])
df2["Intersection"] = le.transform(df2["Intersection"])

In [18]:
df2_dummy=pd.get_dummies(df2['City'])

In [19]:
df2_dummy

         Atlanta  Boston  Chicago  Philadelphia
0              1       0        0             0
1              1       0        0             0
2              1       0        0             0
3              1       0        0             0
4              1       0        0             0
...          ...     ...      ...           ...
1921352        0       0        0             1
1921353        0       0        0             1
1921354        0       0        0             1
1921355        0       0        0             1
1921356        0       0        0             1

[1921357 rows x 4 columns]

In [20]:
df2 = df2.join(df2_dummy)

In [21]:
df1=df1.join(df2_dummy)

In [22]:
df1.drop('City',axis=1,inplace=True)
df2.drop('City',axis=1,inplace=True)

In [23]:
df1 = df1.dropna()
df2=df2.dropna()

In [24]:
y = df1[["TotalTimeStopped_p20", "TotalTimeStopped_p50", "TotalTimeStopped_p80", "DistanceToFirstStop_p20","DistanceToFirstStop_p50", "DistanceToFirstStop_p80" ]]
x = df1[[ 'IntersectionId', "Intersection", 'Latitude', 'Longitude',
         'EntryHeading', 'ExitHeading', 'Hour', 'Weekend',
       'Month', 'EntryAdressEncoded', 'ExitAddressEncoded', 'IfEntryExitSame',
       'Atlanta', 'Boston', 'Chicago', 'Philadelphia']]

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25 ,random_state=42)

In [27]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [28]:
mean_squared_error(y_test,y_pred)

5495.412686783493

In [29]:
r2_score(y_test,y_pred)

0.02912057994482614

In [30]:
a = df2[[ 'IntersectionId', "Intersection", 'Latitude', 'Longitude',
         'EntryHeading', 'ExitHeading', 'Hour', 'Weekend',
       'Month', 'EntryAdressEncoded', 'ExitAddressEncoded', 'IfEntryExitSame',
       'Atlanta', 'Boston', 'Chicago', 'Philadelphia']]

In [31]:
sonuc=lr.predict(a)

In [32]:
sonuc

array([[  0.92151437,   6.39261807,  21.75322465,   2.98716852,
         22.02687171,  86.15349293],
       [  2.86496236,  12.57839741,  34.48365164,   9.08770793,
         35.51144674, 108.74644301],
       [  0.94022597,   6.42084125,  21.97046966,   3.32585959,
         23.70464012,  90.47322431],
       ...,
       [  2.68277   ,  10.06254597,  28.53572257,   9.04038231,
         32.03589925,  88.63953531],
       [  0.77115419,   4.08174167,  16.08665425,   3.92984795,
         21.05252212,  72.17171214],
       [  0.80112989,   4.18970921,  16.35455363,   4.03058654,
         21.4359967 ,  73.20526106]])

In [33]:
df2[["TotalTimeStopped_p20", "TotalTimeStopped_p50", "TotalTimeStopped_p80", "DistanceToFirstStop_p20","DistanceToFirstStop_p50", "DistanceToFirstStop_p80" ]]=sonuc

In [34]:
a=df2[["RowId","TotalTimeStopped_p20", "TotalTimeStopped_p50", "TotalTimeStopped_p80", "DistanceToFirstStop_p20","DistanceToFirstStop_p50", "DistanceToFirstStop_p80" ]]

In [35]:
a.to_csv('trafikyoğunluğu.csv',index=False)