In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [3]:
df1

      id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0      0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1      1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2      2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3      4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4      5     0.566117       0.875862     0.418594  0.636438  green   Ghost
..   ...          ...            ...          ...       ...    ...     ...
366  886     0.458132       0.391760     0.660590  0.635689   blue  Goblin
367  889     0.331936       0.564836     0.539216  0.551471  green   Ghost
368  890     0.481640       0.501147     0.496446  0.544003  clear   Ghoul
369  896     0.294943       0.771286     0.583503  0.300618  clear   Ghost
370  897     0.670200       0.768469     0.737274  0.608384  white   Ghoul

[371 rows x 7 columns]

In [4]:
df1.color.value_counts()

white    137
clear    120
green     42
black     41
blue      19
blood     12
Name: color, dtype: int64

In [5]:
a=pd.get_dummies(df1.color)

In [6]:
a

     black  blood  blue  clear  green  white
0        0      0     0      1      0      0
1        0      0     0      0      1      0
2        1      0     0      0      0      0
3        1      0     0      0      0      0
4        0      0     0      0      1      0
..     ...    ...   ...    ...    ...    ...
366      0      0     1      0      0      0
367      0      0     0      0      1      0
368      0      0     0      1      0      0
369      0      0     0      1      0      0
370      0      0     0      0      0      1

[371 rows x 6 columns]

In [7]:
df1.type.value_counts()

Ghoul     129
Goblin    125
Ghost     117
Name: type, dtype: int64

In [8]:
df1.drop('id',axis=1,inplace=True)

In [9]:
x=df1.drop('type',axis=1)
y=df1['type']

In [10]:
x=pd.get_dummies(x)

In [11]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
gbc.fit(x_train,y_train)

GradientBoostingClassifier()

In [14]:
y_pred=gbc.predict(x_test)

In [15]:
accuracy_score(y_test,y_pred)

0.6666666666666666

In [16]:
h=df2['id']

In [17]:
df2.drop('id',axis=1,inplace=True)

In [18]:
df2=pd.get_dummies(df2)

In [19]:
y_pred1=gbc.predict(df2)

In [20]:
df2['id']=h

In [22]:
df2['type']=y_pred1

In [24]:
df2[['id','type']].to_csv('canavar.csv',index=False)