In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
gas=GaussianNB()
ber=BernoulliNB()
from xgboost import XGBClassifier
xgbc=XGBClassifier()

In [3]:
df=pd.read_csv('LoansTrainingSet.csv')

C:\Users\bilal\AppData\Local\Temp\ipykernel_17700\841172785.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('LoansTrainingSet.csv')

In [4]:
df.shape

(256984, 19)

In [5]:
df.nunique()

Loan ID                         215700
Customer ID                     215700
Loan Status                          2
Current Loan Amount              27347
Term                                 2
Credit Score                       334
Years in current job                11
Home Ownership                       4
Annual Income                    60558
Purpose                             10
Monthly Debt                    129115
Years of Credit History            541
Months since last delinquent       131
Number of Open Accounts             59
Number of Credit Problems           12
Current Credit Balance           45704
Maximum Open Credit              87188
Bankruptcies                         8
Tax Liens                           12
dtype: int64

In [6]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61676
Years in current job             11476
Home Ownership                       0
Annual Income                    61676
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140383
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                       529
Tax Liens                           23
dtype: int64

In [7]:
df['Credit Score'].value_counts()

747.0     5669
740.0     5537
741.0     5499
746.0     5486
742.0     5219
          ...
6070.0       3
5980.0       3
5910.0       3
5930.0       2
5860.0       1
Name: Credit Score, Length: 334, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256984 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256984 non-null  object
 1   Customer ID                   256984 non-null  object
 2   Loan Status                   256984 non-null  object
 3   Current Loan Amount           256984 non-null  int64
 4   Term                          256984 non-null  object
 5   Credit Score                  195308 non-null  float64
 6   Years in current job          245508 non-null  object
 7   Home Ownership                256984 non-null  object
 8   Annual Income                 195308 non-null  float64
 9   Purpose                       256984 non-null  object
 10  Monthly Debt                  256984 non-null  object
 11  Years of Credit History       256984 non-null  float64
 12  Months since last delinquent  116601 non-null  float64
 13  Number of Open Accounts       256984 non-null  int64
 14  Number of Credit Problems     256984 non-null  int64
 15  Current Credit Balance        256984 non-null  int64
 16  Maximum Open Credit           256984 non-null  object
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256961 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 37.3+ MB

In [9]:
df['Credit Score'].fillna('585.0',inplace=True)

In [10]:
df['Annual Income'].fillna(df['Annual Income'].mean(),inplace=True)

In [11]:
df['Months since last delinquent'].fillna(df['Months since last delinquent'].median(),inplace=True)

In [12]:
df['Bankruptcies'].fillna(df['Bankruptcies'].mean(),inplace=True)

In [13]:
df['Tax Liens'].fillna(df['Tax Liens'].mean(),inplace=True)

In [14]:
df['Years in current job'].fillna('7 years',inplace=True)

In [15]:
df['Maximum Open Credit']=df['Maximum Open Credit'].replace('#VALUE!','37000')

In [16]:
df['Maximum Open Credit']=df['Maximum Open Credit'].astype('int')

In [17]:
df.isnull().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Term                            0
Credit Score                    0
Years in current job            0
Home Ownership                  0
Annual Income                   0
Purpose                         0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [18]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.000000,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.000000,other,"$1,106.04",26.3,32.0,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.000000,Debt Consolidation,"$1,321.85",28.8,32.0,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.000000,Debt Consolidation,$751.92,26.2,32.0,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.000000,Debt Consolidation,$355.18,11.5,32.0,12,0,17391,37081,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,585.0,2 years,Rent,71952.716187,Debt Consolidation,"$1,706.58",19.9,32.0,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.000000,Debt Consolidation,"$1,376.47",19.1,47.0,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.000000,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.000000,Debt Consolidation,$297.96,15.1,82.0,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.000000,Debt Consolidation,"$2,525.82",18.0,11.0,10,0,28317,62371,0.0,0.0

In [19]:
df.drop(['Loan ID','Customer ID'],axis=1,inplace=True)

In [20]:
df['Loan Status']=df['Loan Status'].replace('Fully Paid',1).replace('Charged Off',0).astype(int)

In [21]:
df['Monthly Debt']=df['Monthly Debt'].str.extract('\$?([0-9,]+\.?[0-9]+)')
df['Monthly Debt']=df['Monthly Debt'].str.replace(',','', regex=True)
df['Monthly Debt']=df['Monthly Debt'].str.replace('$','', regex=True)

In [22]:
df['Monthly Debt']=df['Monthly Debt'].astype(float)

In [23]:
df['Years in current job']=df['Years in current job'].replace('years','',regex=True)

In [24]:
df['Years in current job']=df['Years in current job'].str.extract('(\d+)')

In [25]:
df['Years in current job']=df['Years in current job'].astype('int')

In [26]:
df.drop('Purpose',axis=1,inplace=True)

In [27]:
df=pd.get_dummies(df,drop_first=True)

In [28]:
df_train=df.loc[:100000]

In [29]:
df_test=df.loc[100000:]

In [30]:
df_train.shape,df_test.shape

((100001, 351), (156984, 351))

In [31]:
b=df_train['Loan Status']

In [32]:
df_train.drop(['Loan Status'],axis=1,inplace=True)

C:\Users\bilal\AppData\Local\Temp\ipykernel_17700\3903067236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.drop(['Loan Status'],axis=1,inplace=True)

In [33]:
algorithms=[gas,ber,k,log,gbc,r,d,xgbc]
names=['GaussianNB','BernoulliNB','KNearest','Logistic','GradientBoosting','RandomForest','Decision','XGBC']

In [34]:
def algo_test(X,y,algorithms=algorithms , names=names):
    for i in range(len(algorithms)):
        algorithms[i]=algorithms[i].fit(X, y)
    accuracy=[]
    precision=[]
    recall=[]
    f1=[]
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(y,algorithms[i].predict(X)))
        precision.append(precision_score(y,algorithms[i].predict(X)))
        recall.append(recall_score(y,algorithms[i].predict(X)))
        f1.append(f1_score(y,algorithms[i].predict(X)))
    metrics=pd.DataFrame(columns=['Accuracy','Precision','Recall','F1'],index=names)
    metrics['Accuracy']=accuracy
    metrics['Precision']=precision
    metrics['Recall']=recall
    metrics['F1']=f1
    return metrics.sort_values('F1',ascending=False)

In [35]:
algo_test(df_train,b)

                  Accuracy  Precision    Recall        F1
RandomForest      1.000000   1.000000  1.000000  1.000000
Decision          1.000000   1.000000  1.000000  1.000000
KNearest          0.792532   0.827726  0.878600  0.852405
XGBC              0.769732   0.771953  0.939989  0.847724
BernoulliNB       0.745283   0.755938  0.925133  0.832021
GradientBoosting  0.734543   0.735335  0.954097  0.830552
Logistic          0.680883   0.681948  0.996979  0.809907
GaussianNB        0.460615   0.982657  0.212721  0.349733

In [36]:
h=df_test['Loan Status']

In [37]:
df_test.drop(['Loan Status'],axis=1,inplace=True)

C:\Users\bilal\AppData\Local\Temp\ipykernel_17700\802577237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test.drop(['Loan Status'],axis=1,inplace=True)

In [38]:
tahmin=d.predict(df_test)

In [39]:
tahmin

array([1, 1, 1, ..., 0, 1, 1])

In [40]:
tahmin.shape

(156984,)

In [41]:
(accuracy_score(h,tahmin))

0.665526423074963

In [42]:
(precision_score(h,tahmin))

0.7369944911816202

In [43]:
(recall_score(h,tahmin))

0.7989611495870523

In [44]:
(f1_score(h,tahmin))

0.7667278276592815