In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test (1).csv')

In [3]:
df1

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
55423851,2014-03-15 03:28:00.00000070,14.0,2014-03-15 03:28:00 UTC,-74.005272,40.740027,-73.963280,40.762555,1
55423852,2009-03-24 20:46:20.0000002,4.2,2009-03-24 20:46:20 UTC,-73.957784,40.765530,-73.951640,40.773959,1
55423853,2011-04-02 22:04:24.0000004,14.1,2011-04-02 22:04:24 UTC,-73.970505,40.752325,-73.960537,40.797342,1
55423854,2011-10-26 05:57:51.0000002,28.9,2011-10-26 05:57:51 UTC,-73.980901,40.764629,-73.870605,40.773963,1
55423855,2014-12-12 11:33:00.00000015,7.5,2014-12-12 11:33:00 UTC,-73.969722,40.797668,-73.970885,40.783313,1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   fare_amount        float64
 2   pickup_datetime    object
 3   pickup_longitude   float64
 4   pickup_latitude    float64
 5   dropoff_longitude  float64
 6   dropoff_latitude   float64
 7   passenger_count    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

In [5]:
df1.isnull().sum()

key                    0
fare_amount            0
pickup_datetime        0
pickup_longitude       0
pickup_latitude        0
dropoff_longitude    376
dropoff_latitude     376
passenger_count        0
dtype: int64

In [6]:
df1['dropoff_longitude'].fillna(df1['dropoff_longitude'].mean(),inplace=True)
df1['dropoff_latitude'].fillna(df1['dropoff_latitude'].mean(),inplace=True)

In [7]:
abs(df1.corr()['fare_amount']).sort_values(ascending=False)

fare_amount          1.000000
passenger_count      0.006131
dropoff_longitude    0.004493
pickup_longitude     0.004133
dropoff_latitude     0.003426
pickup_latitude      0.003120
Name: fare_amount, dtype: float64

In [8]:
df1['fark boylam']=df1['dropoff_longitude'] - df1['pickup_longitude']
df1['fark enlem']=df1['dropoff_latitude'] - df1['pickup_latitude']

In [9]:
boylamkare=df1['fark boylam']**2
enlemkare=df1['fark enlem']**2

In [10]:
c=enlemkare + boylamkare
a=c**0.5

In [11]:
df1['mesafe']=a

In [12]:
df1['mesafe']

0           0.009436
1           0.079696
2           0.013674
3           0.025340
4           0.019470
              ...
55423851    0.047653
55423852    0.010431
55423853    0.046107
55423854    0.110690
55423855    0.014402
Name: mesafe, Length: 55423856, dtype: float64

In [13]:
df2['fark boylam']=df2['dropoff_longitude'] - df2['pickup_longitude']
df2['fark enlem']=df2['dropoff_latitude'] - df2['pickup_latitude']

In [14]:
boylamkare2=df2['fark boylam']**2
enlemkare2=df2['fark enlem']**2

In [15]:
d=enlemkare2 + boylamkare2
e=d**0.5

In [16]:
df2['mesafe']=e

In [17]:
x=df1[['mesafe','passenger_count']]
y=df1['fare_amount']

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge,Lasso
from sklearn.ensemble import GradientBoostingRegressor

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=42)

In [20]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((44339084, 2), (11084772, 2), (44339084,), (11084772,))

In [21]:
lr=LinearRegression()
regmodel=lr.fit(x_train,y_train)

In [22]:
y_pretest=regmodel.predict(x_test)     
y_pretest

array([11.27814555, 11.27821124, 11.27814013, ..., 11.278292  ,
       11.27922529, 11.37417207])

In [23]:
(mean_squared_error(y_test,y_pretest))**0.5

29.874753066913353

In [24]:
r2_score(y_test,y_pretest)

2.4445537930017913e-05

In [25]:
R=Ridge()
R.fit(x_train,y_train)
y_pred_ridge=R.predict(x_test)

In [26]:
(mean_squared_error(y_test,y_pred_ridge))**0.5

29.874753066913318

In [27]:
r2_score(y_test,y_pred_ridge)

2.444553793234938e-05

In [28]:
t=df2[['mesafe','passenger_count']]

In [32]:
o=R.predict(t)

In [33]:
df2['fare_amount']=o

In [34]:
h=df2[['key','fare_amount']]

In [36]:
h.to_csv('taxipred.csv',index=False)

In [30]:
## R2 SCORE DÜŞÜK GÖZÜKÜYOR AMA MEAN SQUARED ERROR İYİ 55.423.856 VERİ İÇİNDEN 30 LUK BİR HATA GAYET İYİ