In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_table('train.tsv')
df2=pd.read_table('test.tsv')

In [3]:
df1

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [4]:
df2

       PhraseId  SentenceId                                             Phrase
0        156061        8545  An intermittently pleasing but mostly routine ...
1        156062        8545  An intermittently pleasing but mostly routine ...
2        156063        8545                                                 An
3        156064        8545  intermittently pleasing but mostly routine effort
4        156065        8545         intermittently pleasing but mostly routine
...         ...         ...                                                ...
66287    222348       11855             A long-winded , predictable scenario .
66288    222349       11855               A long-winded , predictable scenario
66289    222350       11855                                    A long-winded ,
66290    222351       11855                                      A long-winded
66291    222352       11855                               predictable scenario

[66292 rows x 3 columns]

In [5]:
df1.Sentiment.value_counts()

2    79582
3    32927
1    27273
4     9206
0     7072
Name: Sentiment, dtype: int64

In [6]:
df1['Phrase']=df1['Phrase'].str.lower()
df1['Phrase']=df1['Phrase'].str.replace('\d+','')
df1['Phrase']=df1['Phrase'].str.replace('[^\w\s]','')
df1['Phrase']=df1['Phrase'].str.replace('\n',' ').replace('\r','')

C:\Users\bilal\AppData\Local\Temp\ipykernel_8812\926375990.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Phrase']=df1['Phrase'].str.replace('\d+','')
C:\Users\bilal\AppData\Local\Temp\ipykernel_8812\926375990.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Phrase']=df1['Phrase'].str.replace('[^\w\s]','')

In [7]:
df2['Phrase']=df2['Phrase'].str.lower()
df2['Phrase']=df2['Phrase'].str.replace('\d+','')
df2['Phrase']=df2['Phrase'].str.replace('[^\w\s]','')
df2['Phrase']=df2['Phrase'].str.replace('\n',' ').replace('\r','')

C:\Users\bilal\AppData\Local\Temp\ipykernel_8812\1020434583.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Phrase']=df2['Phrase'].str.replace('\d+','')
C:\Users\bilal\AppData\Local\Temp\ipykernel_8812\1020434583.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Phrase']=df2['Phrase'].str.replace('[^\w\s]','')

In [8]:
x=df1['Phrase']
y=df1['Sentiment']
a=df2['Phrase']

In [9]:
print(x)

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2 ,random_state=42)

In [12]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((124848,), (31212,), (124848,), (31212,))

In [13]:
import scipy as sp
import nltk
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [14]:
vect=CountVectorizer(stop_words='english')
x_train_dtm=vect.fit_transform(x_train)
print(x_train_dtm)
x_test_dtm=vect.transform(x_test)
a_dtm=vect.transform(a)

  (0, 2185)	1
  (1, 14865)	1
  (1, 11778)	1
  (2, 9226)	1
  (2, 8275)	1
  (2, 9112)	1
  (2, 7582)	1
  (2, 5128)	1
  (2, 10617)	1
  (2, 8697)	1
  (3, 12736)	1
  (3, 1340)	1
  (3, 12982)	1
  (3, 6377)	1
  (3, 15500)	1
  (3, 6400)	1
  (4, 11358)	1
  (4, 14576)	1
  (4, 4347)	1
  (4, 1224)	1
  (4, 5287)	1
  (4, 3953)	1
  (5, 8359)	1
  (6, 5957)	1
  (6, 11752)	1
  :	:
  (124844, 8395)	1
  (124844, 14090)	1
  (124844, 12391)	1
  (124844, 10084)	1
  (124844, 6550)	1
  (124844, 2357)	1
  (124844, 1580)	1
  (124844, 9523)	1
  (124844, 4216)	1
  (124844, 10204)	1
  (124845, 8240)	1
  (124845, 13847)	1
  (124845, 14807)	1
  (124845, 9052)	1
  (124845, 3587)	1
  (124845, 10261)	1
  (124846, 502)	1
  (124846, 8240)	1
  (124846, 10359)	1
  (124846, 11101)	1
  (124846, 8603)	1
  (124846, 2168)	1
  (124847, 858)	1
  (124847, 4032)	1
  (124847, 4527)	1

In [15]:
from sklearn.metrics import accuracy_score

In [17]:
vect=CountVectorizer(ngram_range=(1,2))
x_train_dtm=vect.fit_transform(x_train)
print('Features: ',x_train_dtm.shape[1])
x_test_dtm=vect.transform(x_test)
nb=MultinomialNB()
nb.fit(x_train_dtm,y_train)
y_pred_class1=nb.predict(x_test_dtm)
print('Accuracy: ',accuracy_score(y_test,y_pred_class1))

Features:  93631
Accuracy:  0.5902537485582469

In [18]:
vect=CountVectorizer()
x_train_dtm=vect.fit_transform(x_train)
print('Features: ',x_train_dtm.shape[1])
x_test_dtm=vect.transform(x_test)
nb=MultinomialNB()
nb.fit(x_train_dtm,y_train)
y_pred_class2=nb.predict(x_test_dtm)
print('Accuracy: ',accuracy_score(y_test,y_pred_class2))

Features:  16176
Accuracy:  0.6130334486735871

In [19]:
vect=CountVectorizer(stop_words='english')
x_train_dtm=vect.fit_transform(x_train)
print('Features: ',x_train_dtm.shape[1])
x_test_dtm=vect.transform(x_test)
nb=MultinomialNB()
nb.fit(x_train_dtm,y_train)
y_pred_class3=nb.predict(x_test_dtm)
print('Accuracy: ',accuracy_score(y_test,y_pred_class3))

Features:  15890
Accuracy:  0.6105664488017429

In [20]:
y_pred4=nb.predict(a_dtm)

In [21]:
y_pred4

array([3, 3, 2, ..., 1, 1, 1], dtype=int64)

In [22]:
df2['Sentiment']=y_pred4

In [23]:
df2

,PhraseId,SentenceId,Phrase,Sentiment
0,156061,8545,an intermittently pleasing but mostly routine ...,3
1,156062,8545,an intermittently pleasing but mostly routine ...,3
2,156063,8545,an,2
3,156064,8545,intermittently pleasing but mostly routine effort,3
4,156065,8545,intermittently pleasing but mostly routine,3
...,...,...,...,...
66287,222348,11855,a longwinded predictable scenario,1
66288,222349,11855,a longwinded predictable scenario,1
66289,222350,11855,a longwinded,1
66290,222351,11855,a longwinded,1
66291,222352,11855,predictable scenario,1

In [24]:
df2.drop(['SentenceId','Phrase'],axis=1,inplace=True)

In [25]:
df2.to_csv('sentiment.csv',index=False)