In [1]:
import pandas as pd
import numpy as np
import os,glob

In [2]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier(n_estimators=3)
from sklearn.ensemble import RandomForestClassifier
r=RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log=LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
gas=GaussianNB()
ber=BernoulliNB()
from xgboost import XGBClassifier
xgbc=XGBClassifier(n_estimators=3,max_depth=3,learning_rate=1)

In [3]:
df1=pd.read_csv('event_type.csv')
df2=pd.read_csv('log_feature.csv')
df3=pd.read_csv('resource_type.csv')
df4=pd.read_csv('severity_type.csv')
df5=pd.read_csv('train.csv')

In [4]:
df5.shape

(7381, 3)

In [5]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7381 non-null   int64
 1   location        7381 non-null   object
 2   fault_severity  7381 non-null   int64
dtypes: int64(2), object(1)
memory usage: 173.1+ KB

In [6]:
merge1=df5.merge(df4, how="left", left_on='id', right_on='id')
merge2=merge1.merge(df3, how="left", left_on='id', right_on='id')
merge3=merge2.merge(df2, how="left", left_on='id', right_on='id')
df=merge3.merge(df1, how="left", left_on='id', right_on='id')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61839 entries, 0 to 61838
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              61839 non-null  int64
 1   location        61839 non-null  object
 2   fault_severity  61839 non-null  int64
 3   severity_type   61839 non-null  object
 4   resource_type   61839 non-null  object
 5   log_feature     61839 non-null  object
 6   volume          61839 non-null  int64
 7   event_type      61839 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.2+ MB

In [8]:
df.head(50)

,id,location,fault_severity,severity_type,resource_type,log_feature,volume,event_type
0,14121,location 118,1,severity_type 2,resource_type 2,feature 312,19,event_type 34
1,14121,location 118,1,severity_type 2,resource_type 2,feature 312,19,event_type 35
2,14121,location 118,1,severity_type 2,resource_type 2,feature 232,19,event_type 34
3,14121,location 118,1,severity_type 2,resource_type 2,feature 232,19,event_type 35
4,9320,location 91,0,severity_type 2,resource_type 2,feature 315,200,event_type 34
5,9320,location 91,0,severity_type 2,resource_type 2,feature 315,200,event_type 35
6,9320,location 91,0,severity_type 2,resource_type 2,feature 235,116,event_type 34
7,9320,location 91,0,severity_type 2,resource_type 2,feature 235,116,event_type 35
8,14394,location 152,1,severity_type 2,resource_type 2,feature 221,1,event_type 35
9,14394,location 152,1,severity_type 2,resource_type 2,feature 221,1,event_type 34
10,14394,location 152,1,severity_type 2,resource_type 2,feature 301,1,event_type 35
11,14394,location 152,1,severity_type 2,resource_type 2,feature 301,1,event_type 34
12,8218,location 931,1,severity_type 1,resource_type 8,feature 80,9,event_type 15
13,8218,location 931,1,severity_type 1,resource_type 8,feature 80,9,event_type 11
14,8218,location 931,1,severity_type 1,resource_type 8,feature 82,12,event_type 15
15,8218,location 931,1,severity_type 1,resource_type 8,feature 82,12,event_type 11
16,8218,location 931,1,severity_type 1,resource_type 8,feature 203,1,event_type 15
17,8218,location 931,1,severity_type 1,resource_type 8,feature 203,1,event_type 11
18,14804,location 120,0,severity_type 1,resource_type 2,feature 134,1,event_type 34
19,14804,location 120,0,severity_type 1,resource_type 2,feature 134,1,event_type 11
20,14804,location 120,0,severity_type 1,resource_type 2,feature 134,1,event_type 36
21,14804,location 120,0,severity_type 1,resource_type 2,feature 134,1,event_type 20
22,14804,location 120,0,severity_type 1,resource_type 2,feature 219,1,event_type 34
23,14804,location 120,0,severity_type 1,resource_type 2,feature 219,1,event_type 11
24,14804,location 120,0,severity_type 1,resource_type 2,feature 219,1,event_type 36
25,14804,location 120,0,severity_type 1,resource_type 2,feature 219,1,event_type 20
26,14804,location 120,0,severity_type 1,resource_type 2,feature 117,1,event_type 34
27,14804,location 120,0,severity_type 1,resource_type 2,feature 117,1,event_type 11
28,14804,location 120,0,severity_type 1,resource_type 2,feature 117,1,event_type 36
29,14804,location 120,0,severity_type 1,resource_type 2,feature 117,1,event_type 20
30,14804,location 120,0,severity_type 1,resource_type 2,feature 227,2,event_type 34
31,14804,location 120,0,severity_type 1,resource_type 2,feature 227,2,event_type 11
32,14804,location 120,0,severity_type 1,resource_type 2,feature 227,2,event_type 36
33,14804,location 120,0,severity_type 1,resource_type 2,feature 227,2,event_type 20
34,14804,location 120,0,severity_type 1,resource_type 2,feature 237,2,event_type 34
35,14804,location 120,0,severity_type 1,resource_type 2,feature 237,2,event_type 11
36,14804,location 120,0,severity_type 1,resource_type 2,feature 237,2,event_type 36
37,14804,location 120,0,severity_type 1,resource_type 2,feature 237,2,event_type 20
38,14804,location 120,0,severity_type 1,resource_type 2,feature 232,2,event_type 34
39,14804,location 120,0,severity_type 1,resource_type 2,feature 232,2,event_type 11
40,14804,location 120,0,severity_type 1,resource_type 2,feature 232,2,event_type 36
41,14804,location 120,0,severity_type 1,resource_type 2,feature 232,2,event_type 20
42,14804,location 120,0,severity_type 1,resource_type 2,feature 181,1,event_type 34
43,14804,location 120,0,severity_type 1,resource_type 2,feature 181,1,event_type 11
44,14804,location 120,0,severity_type 1,resource_type 2,feature 181,1,event_type 36
45,14804,location 120,0,severity_type 1,resource_type 2,feature 181,1,event_type 20
46,14804,location 120,0,severity_type 1,resource_type 2,feature 160,1,event_type 34
47,14804,location 120,0,severity_type 1,resource_type 2,feature 160,1,event_type 11
48,14804,location 120,0,severity_type 1,resource_type 2,feature 160,1,event_type 36
49,14804,location 120,0,severity_type 1,resource_type 2,feature 160,1,event_type 20

In [9]:
df.isnull().sum()

id                0
location          0
fault_severity    0
severity_type     0
resource_type     0
log_feature       0
volume            0
event_type        0
dtype: int64

In [10]:
df['location']=df['location'].str.extract('(\d+)')
df['severity_type']=df['severity_type'].str.extract('(\d+)')
df['resource_type']=df['resource_type'].str.extract('(\d+)')
df['log_feature']=df['log_feature'].str.extract('(\d+)')
df['event_type']=df['event_type'].str.extract('(\d+)')

In [11]:
df['event_type'].fillna('None',inplace=True)
df['log_feature'].fillna('None',inplace=True)
df['volume'].fillna(df['volume'].median(),inplace=True)
df['resource_type'].fillna('None',inplace=True)
df['severity_type'].fillna('None',inplace=True)
df['location'].fillna('None',inplace=True)

In [12]:
df.isnull().sum()

id                0
location          0
fault_severity    0
severity_type     0
resource_type     0
log_feature       0
volume            0
event_type        0
dtype: int64

In [13]:
df.shape

(61839, 8)

In [14]:
df.drop_duplicates(subset='id',keep='first',inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7381 entries, 0 to 61836
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              7381 non-null   int64
 1   location        7381 non-null   object
 2   fault_severity  7381 non-null   int64
 3   severity_type   7381 non-null   object
 4   resource_type   7381 non-null   object
 5   log_feature     7381 non-null   object
 6   volume          7381 non-null   int64
 7   event_type      7381 non-null   object
dtypes: int64(3), object(5)
memory usage: 519.0+ KB

In [16]:
df.isnull().sum()

id                0
location          0
fault_severity    0
severity_type     0
resource_type     0
log_feature       0
volume            0
event_type        0
dtype: int64

In [17]:
df_dummies=pd.get_dummies(df,drop_first=True)

In [18]:
y=df5['fault_severity']

In [19]:
from pycaret.classification import *

In [20]:
bilgi=setup(data=df_dummies,target='fault_severity')

In [21]:
bestmodel=compare_models()

In [22]:
x=df_dummies.drop('fault_severity',axis=1)

In [23]:
x.shape,y.shape

((7381, 1209), (7381,))

In [24]:
y.isnull().sum()

0

In [25]:
y.value_counts(normalize=True)

0    0.648151
1    0.253489
2    0.098361
Name: fault_severity, dtype: float64

In [26]:
y

0       1
1       0
2       1
3       1
4       0
       ..
7376    0
7377    0
7378    2
7379    0
7380    0
Name: fault_severity, Length: 7381, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [36]:
ren=xgbc.fit(x_train,y_train)

In [37]:
tahmin=ren.predict(x_test)

In [38]:
tahmin.shape

(1477,)

In [49]:
(accuracy_score(y_test,tahmin))

0.6790792146242384

In [47]:
(recall_score(y_test,tahmin,average='macro'))

0.43023256594402315

In [45]:
(f1_score(y_test,tahmin,average='macro'))

0.43481256129508994

In [46]:
(precision_score(y_test,tahmin,average='macro'))

0.6581202046035806