In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [3]:
df1

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,loss
0,0,-0.002350,59,0.766739,-1.350460,42.27270,16.68570,30.35990,1.267300,0.392007,...,-42.43990,26.854000,1.45751,0.696161,0.941764,1.828470,0.924090,2.296580,10.489800,15
1,1,0.784462,145,-0.463845,-0.530421,27324.90000,3.47545,160.49800,0.828007,3.735860,...,-184.13200,7.901370,1.70644,-0.494699,-2.058300,0.819184,0.439152,2.364700,1.143830,3
2,2,0.317816,19,-0.432571,-0.382644,1383.26000,19.71290,31.10260,-0.515354,34.430800,...,7.43721,37.218100,3.25339,0.337934,0.615037,2.216760,0.745268,1.696790,12.305500,6
3,3,0.210753,17,-0.616454,0.946362,-119.25300,4.08235,185.25700,1.383310,-47.521400,...,9.66778,0.626942,1.49425,0.517513,-10.222100,2.627310,0.617270,1.456450,10.028800,2
4,4,0.439671,20,0.968126,-0.092546,74.30200,12.30650,72.18600,-0.233964,24.399100,...,290.65700,15.604300,1.73557,-0.476668,1.390190,2.195740,0.826987,1.784850,7.071970,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,249995,0.923980,6,0.663212,-0.055120,6.61768,1.26619,40.44790,0.852375,25.522400,...,3517.97000,18.534200,1.41936,0.607504,4.950780,2.853420,0.961882,1.068010,1.437650,11
249996,249996,0.243556,7,-0.557062,1.333470,-54.88610,17.58310,212.96400,-1.204750,-128.385000,...,1945.81000,19.482200,1.60072,-0.154877,5.693280,1.994540,0.760925,1.427880,1.226720,5
249997,249997,0.046023,53,0.462863,0.704034,2062.94000,14.58160,11.42710,-0.509812,80.818000,...,-28.46890,11.008200,1.61080,-0.350927,27.986900,1.012690,0.830533,1.005470,0.455332,1
249998,249998,0.977330,12,-1.002880,0.576377,4741.16000,11.10090,3.81546,0.616191,118.902000,...,-275.53700,21.985700,3.16051,0.772058,2.592220,3.938260,0.697430,0.962347,7.415890,10
249999,249999,0.244233,51,0.729304,-0.702592,197.46200,19.02400,42.33370,0.465181,-115.398000,...,5387.25000,38.574600,3.61783,-0.544969,-0.987695,1.871910,0.452516,0.935411,28.912200,7

In [4]:
df2

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
0,250000,0.812665,15,-1.239120,-0.893251,295.5770,15.87120,23.04360,0.942256,29.898000,...,0.446389,-422.332,-1.44630,1.69075,1.059300,-3.010570,1.94664,0.529470,1.386950,8.78767
1,250001,0.190344,131,-0.501361,0.801921,64.8866,3.09703,344.80500,0.807194,38.421900,...,0.377179,10352.200,21.06270,1.84351,0.251895,4.440570,1.90309,0.248534,0.863881,11.79390
2,250002,0.919671,19,-0.057382,0.901419,11961.2000,16.39650,273.24000,-0.003300,37.940000,...,0.990140,3224.020,-2.25287,1.55100,-0.559157,17.838600,1.83385,0.931796,2.336870,9.05400
3,250003,0.860985,19,-0.549509,0.471799,7501.6000,2.80698,71.08170,0.792136,0.395235,...,1.396880,9689.760,14.77150,1.41390,0.329272,0.802437,2.23251,0.893348,1.359470,4.84833
4,250004,0.313229,89,0.588509,0.167705,2931.2600,4.34986,1.57187,1.118300,7.754630,...,0.862502,2693.350,44.18050,1.58020,-0.191021,26.253000,2.68238,0.361923,1.532800,3.70660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,399995,0.751053,77,0.666725,-1.106280,21433.3000,16.58120,122.77900,-0.319314,-82.222900,...,1.540530,123.551,13.98240,2.34641,-0.438368,-2.587330,-0.62910,0.358354,1.434990,8.55460
149996,399996,0.734669,41,0.611225,0.740177,294.1850,10.72900,25.03340,0.644556,-13.998000,...,0.457699,7051.200,8.85935,1.48816,1.481120,0.307554,2.26251,0.563482,1.872810,12.54960
149997,399997,0.417307,142,-0.357854,-0.836640,1215.2500,10.62460,221.60400,0.875104,-41.531500,...,0.391639,10879.100,13.31930,2.11974,0.524081,22.268500,2.40363,0.288236,2.323660,12.33840
149998,399998,1.023900,17,0.367100,-0.936674,1832.3900,8.51691,262.79700,-0.474002,7.162060,...,0.405020,2513.930,38.75670,1.49949,-0.189529,7.632810,2.54065,0.453850,1.653140,31.16380
149999,399999,0.249362,49,0.344670,-0.566363,2290.9300,20.80300,350.64400,1.018560,9.507420,...,0.869155,12093.000,16.91400,1.65282,-0.763589,11.822300,2.22475,0.387568,1.561280,5.69671

In [5]:
df1.isnull().sum()

id      0
f0      0
f1      0
f2      0
f3      0
       ..
f96     0
f97     0
f98     0
f99     0
loss    0
Length: 102, dtype: int64

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Columns: 102 entries, id to loss
dtypes: float64(95), int64(7)
memory usage: 194.5 MB

In [8]:
abs(df1.corr()['loss']).sort_values(ascending=False)

loss    1.000000
f25     0.030164
f52     0.026566
f13     0.025730
f46     0.023828
          ...
f87     0.000660
f67     0.000527
f71     0.000469
f80     0.000200
f89     0.000070
Name: loss, Length: 102, dtype: float64

In [7]:
x=df1.drop('loss',axis=1)
y=df1['loss']

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [9]:
gbr=GradientBoostingRegressor()
öğren=gbr.fit(x_train,y_train)

In [10]:
y_pred=öğren.predict(x_test)

In [11]:
(r2_score(y_test,y_pred))

0.013856213662188033

In [12]:
(mean_squared_error(y_test,y_pred))**0.5

7.8877795627591825

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge,Lasso

In [14]:
lr=LinearRegression()
regmodel=lr.fit(x_train,y_train)
y_pretest=regmodel.predict(x_test)
y_pretest

array([6.2624592 , 6.96207755, 7.03473806, ..., 5.42189656, 7.23091289,
       5.3062239 ])

In [15]:
(mean_squared_error(y_test,y_pretest))**0.5

7.9021589717393645

In [16]:
r2_score(y_test,y_pretest)

0.010257459434210747

In [17]:
R=Ridge()
R.fit(x_train,y_train)
y_pred_ridge=R.predict(x_test)

C:\Users\bilal\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.21123e-22): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

In [18]:
(mean_squared_error(y_test,y_pred_ridge))**0.5

7.90216094544365

In [19]:
r2_score(y_test,y_pred_ridge)

0.010256965022659603

In [20]:
L=Lasso()
L.fit(x_train,y_train)
y_pred_lasso=L.predict(x_test)

In [21]:
(mean_squared_error(y_test,y_pred_lasso))**0.5

7.933357195126258

In [22]:
r2_score(y_test,y_pred_lasso)

0.002426899824491846

In [23]:
tabusonuc=öğren.predict(df2)

In [24]:
df2['loss']=tabusonuc

In [25]:
df3=df2[['id','loss']]

In [26]:
df3.to_csv('tabusonuc.csv',index=False)

In [ ]:
## BU PROJEDEN KAGGLE DA 7.87 ALDIM 1.NİN PUANI 7.79 PROJEDE R2_SCORE FAZLA DÜŞÜK GÖZÜKTÜ AMA HERKESTE ÖYLE SANIRIM