In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('profiles.csv')

C:\Users\bilal\AppData\Local\Temp\ipykernel_17316\713461728.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('profiles.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60552 entries, 0 to 60551
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          9514 non-null   float64
 1   body_type    8666 non-null   object
 2   diet         5761 non-null   object
 3   drinks       9012 non-null   object
 4   drugs        7215 non-null   object
 5   education    8459 non-null   object
 6   essay0       8667 non-null   object
 7   essay1       8347 non-null   object
 8   essay2       8049 non-null   object
 9   essay3       7690 non-null   object
 10  essay4       7879 non-null   object
 11  essay5       7814 non-null   object
 12  essay6       7352 non-null   object
 13  essay7       7553 non-null   object
 14  essay8       6361 non-null   object
 15  essay9       7554 non-null   object
 16  ethnicity    8565 non-null   object
 17  height       9514 non-null   float64
 18  income       9514 non-null   float64
 19  job          8183 non-null   object
 20  last_online  9514 non-null   object
 21  location     9514 non-null   object
 22  offspring    3886 non-null   object
 23  orientation  9514 non-null   object
 24  pets         6352 non-null   object
 25  religion     6261 non-null   object
 26  sex          9514 non-null   object
 27  sign         7776 non-null   object
 28  smokes       8596 non-null   object
 29  speaks       9508 non-null   object
 30  status       9514 non-null   object
dtypes: float64(3), object(28)
memory usage: 14.3+ MB

In [4]:
df.isnull().sum()

age            51038
body_type      51886
diet           54791
drinks         51540
drugs          53337
education      52093
essay0         51885
essay1         52205
essay2         52503
essay3         52862
essay4         52673
essay5         52738
essay6         53200
essay7         52999
essay8         54191
essay9         52998
ethnicity      51987
height         51038
income         51038
job            52369
last_online    51038
location       51038
offspring      56666
orientation    51038
pets           54200
religion       54291
sex            51038
sign           52776
smokes         51956
speaks         51044
status         51038
dtype: int64

In [5]:
df=df.loc[:10000]

In [6]:
df

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22.0,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35.0,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38.0,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23.0,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29.0,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.drop('location',axis=1,inplace=True)

In [8]:
df.isnull().sum()

age             487
body_type      1335
diet           4240
drinks          989
drugs          2786
education      1542
essay0         1334
essay1         1654
essay2         1952
essay3         2311
essay4         2122
essay5         2187
essay6         2649
essay7         2448
essay8         3640
essay9         2447
ethnicity      1436
height          487
income          487
job            1818
last_online     487
offspring      6115
orientation     487
pets           3649
religion       3740
sex             487
sign           2225
smokes         1405
speaks          493
status          487
dtype: int64

In [9]:
df['age'].fillna(df['age'].median(),inplace=True)

In [10]:
df['height'].fillna(df['height'].mean(),inplace=True)

In [11]:
df['income'].fillna(df['income'].median(),inplace=True)

In [12]:

df.loc[df['age']<=32,'kuşak']='Milenium'

df.loc[df['age']>32 ,'kuşak']='Gen X er'


df.loc[df['age']>=47,'kuşak']='Boomers'

In [13]:
df['kuşak'].value_counts()

Milenium    6534
Gen X er    2640
Boomers      827
Name: kuşak, dtype: int64

In [14]:
df.fillna('Boş',inplace=True)

In [15]:
df.isnull().sum()

age            0
body_type      0
diet           0
drinks         0
drugs          0
education      0
essay0         0
essay1         0
essay2         0
essay3         0
essay4         0
essay5         0
essay6         0
essay7         0
essay8         0
essay9         0
ethnicity      0
height         0
income         0
job            0
last_online    0
offspring      0
orientation    0
pets           0
religion       0
sex            0
sign           0
smokes         0
speaks         0
status         0
kuşak          0
dtype: int64

In [16]:
df1=pd.get_dummies(df)

In [17]:
x=df1.drop('age',axis=1)
y=df1['age']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score  
from sklearn.linear_model import Ridge,Lasso
from sklearn.ensemble import GradientBoostingRegressor

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=42)

In [21]:
lr=LinearRegression()
regmodel=lr.fit(x_train,y_train)  

y_pretest=regmodel.predict(x_test)      
y_pretest

array([23.17288001, 26.08452797, 37.92651215, ..., 27.311246  ,
       25.67351598, 23.64160257])

In [22]:
(mean_squared_error(y_test,y_pretest))**0.5

3.5762434253513415

In [23]:
r2_score(y_test,y_pretest)

0.8387865873637428

In [24]:
R=Ridge()
R.fit(x_train,y_train)
y_pred_ridge=R.predict(x_test)

In [25]:
(mean_squared_error(y_test,y_pred_ridge))**0.5

3.5035735665873085

In [26]:
r2_score(y_test,y_pred_ridge)

0.8452717873691272

In [27]:
L=Lasso()
L.fit(x_train,y_train)
y_pred_lasso=L.predict(x_test)

In [28]:
(mean_squared_error(y_test,y_pred_lasso))**0.5

5.087699281619761

In [29]:
r2_score(y_test,y_pred_lasso)

0.6737204206174849

In [30]:
gbr=GradientBoostingRegressor()
öğren=gbr.fit(x_train,y_train)
tahmin=öğren.predict(x_test)

In [31]:
(mean_squared_error(y_test,tahmin))**0.5

3.383841256582169

In [32]:
r2_score(y_test,tahmin)

0.85566655125836

## KUŞAK TAHMİN

In [33]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [34]:
d=DecisionTreeClassifier()
gbc=GradientBoostingClassifier()
r=RandomForestClassifier()

In [35]:
df['kuşak']=df['kuşak'].str.replace('Milenium','0')
df['kuşak']=df['kuşak'].str.replace('Gen X er','1')
df['kuşak']=df['kuşak'].str.replace('Boomers','2')

In [36]:
df['kuşak']=df['kuşak'].astype(int)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          10001 non-null  float64
 1   body_type    10001 non-null  object
 2   diet         10001 non-null  object
 3   drinks       10001 non-null  object
 4   drugs        10001 non-null  object
 5   education    10001 non-null  object
 6   essay0       10001 non-null  object
 7   essay1       10001 non-null  object
 8   essay2       10001 non-null  object
 9   essay3       10001 non-null  object
 10  essay4       10001 non-null  object
 11  essay5       10001 non-null  object
 12  essay6       10001 non-null  object
 13  essay7       10001 non-null  object
 14  essay8       10001 non-null  object
 15  essay9       10001 non-null  object
 16  ethnicity    10001 non-null  object
 17  height       10001 non-null  float64
 18  income       10001 non-null  float64
 19  job          10001 non-null  object
 20  last_online  10001 non-null  object
 21  offspring    10001 non-null  object
 22  orientation  10001 non-null  object
 23  pets         10001 non-null  object
 24  religion     10001 non-null  object
 25  sex          10001 non-null  object
 26  sign         10001 non-null  object
 27  smokes       10001 non-null  object
 28  speaks       10001 non-null  object
 29  status       10001 non-null  object
 30  kuşak        10001 non-null  int32
dtypes: float64(3), int32(1), object(27)
memory usage: 2.3+ MB

In [38]:
df3=pd.get_dummies(df)

In [39]:
df3

,age,height,income,kuşak,body_type_Boş,body_type_a little extra,body_type_athletic,body_type_average,body_type_curvy,body_type_fit,...,"speaks_english, vietnamese (okay)","speaks_english, vietnamese (okay), spanish (okay)","speaks_english, vietnamese (poorly)","speaks_english, vietnamese, spanish","speaks_english, yiddish (poorly)",status_Boş,status_available,status_married,status_seeing someone,status_single
0,22.0,75.000000,-1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,35.0,70.000000,80000.0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,38.0,68.000000,-1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,23.0,71.000000,20000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,29.0,66.000000,-1.0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,30.0,68.337398,-1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9997,30.0,68.337398,-1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9998,30.0,68.337398,-1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9999,30.0,68.337398,-1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10000,30.0,68.337398,-1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [40]:
x=df3.drop('kuşak',axis=1)
y=df3['kuşak']

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=42)

In [42]:
d.fit(x_train,y_train)
pred1=d.predict(x_test)

In [43]:
(accuracy_score(y_test,pred1))

1.0

In [44]:
(recall_score(y_test,pred1,average='micro'))

1.0

In [45]:
(f1_score(y_test,pred1,average='micro'))

1.0

In [46]:
precision_score(y_test,pred1,average='micro')

1.0

In [47]:
gbc.fit(x_train,y_train)
pred2=gbc.predict(x_test)

In [51]:
(accuracy_score(y_test,pred2))

1.0

In [52]:
(recall_score(y_test,pred2,average='micro'))

1.0

In [53]:
(f1_score(y_test,pred2,average='micro'))

1.0

In [54]:
precision_score(y_test,pred2,average='micro')

1.0

In [49]:
r.fit(x_train,y_train)
pred3=r.predict(x_test)

In [55]:
(accuracy_score(y_test,pred3))

0.8420789605197402

In [56]:
(recall_score(y_test,pred3,average='micro'))

0.8420789605197402

In [57]:
(f1_score(y_test,pred3,average='micro'))

0.8420789605197402

In [58]:
precision_score(y_test,pred3,average='micro')

0.8420789605197402